<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if section.title %}<h2 class="text-center">{{section.title}}</h2>{%endif%}
			{% if section.text %}<p class="text-center">{{section.text}}</p>{%endif%}
		</div>
	</div>
	<div class="row">
		{% for block in section.blocks %}
			<div class="col-md-4">
			<div class="card h-100">
				{% if block.imgurl %}<img src="{{block.imgurl}}" class="img-fluid">{% endif %}
				<div class="card-body d-flex flex-column">
					<h4 class="card-title">{{block.title}}</h4>
					{% if block.text %}<pre class="card-text">{{block.text}}</pre>{% endif %}
					{% if block.linktext %}
						<div class="mt-auto">
							<a href="{{block.linkurl}}" class="btn btn-outline-primary float-right" {%if 'http' in block.linkurl%}target="_blank"{%endif%}>{{block.linktext}}</a>
						</div>
					{% endif %}
				</div>
			</div>
			</div>	
		{% endfor %}
	</div>
</div>