{% if section.title or section.text%}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if section.title %}<h2 class="text-center">{{section.title}}</h2>{%endif%}
      {% if section.text %}<p class="text-center">{{section.text}}</p>{%endif%}
    </div>
  </div>
</div>
{% endif %}
<div id="slider" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    {% for block in section.blocks %}
      <li data-target="#slider" data-slide-to="{{loop.index0 }}" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
    {% endfor %}
  </ul>

  <div class="carousel-inner">
    {% for block in section.blocks %}
      <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
        <img class="d-block w-100" src="{{block.imgurl}}" alt="{{block.title}}">
        <div class="carousel-caption">
          {% if block.title %}<h3>{{block.title}}</h3>{% endif %}
          {% if block.text %}<p>{{block.text}}</p>{% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
