<div class="container">
	<div class="row align-items-center">
		<div class="col-md-4">
			<ul class="list-unstyled">
				{% for link in nav %}
				<li class="">
					<a class="" href="{{link.url}}">{{link.label}}</a>
		    	</li>
				{% endfor%}
			</ul>
		</div>
		<div class="col-md-4 text-center">
			<img src="{{info.logo}}" class="img-fluid">
		</div>
		<div class="col-md-4 social text-center">
			{% include 'partials/social.html' %}
			<ul class="list-unstyled">
				{% for link in nav.links %}
				<li class="">
					<a class="" href="{{link.url}}">{{link.text}}</a>
		    	</li>
				{% endfor%}
			</ul>
		</div>
	</div>
</div>