<div class="header p-0">
	{%if info.announcementbar%}
	<div class="infobar text-center">
		<a href="{{info.announcementbarlink}}"><p>{{info.announcementbar}}</p></a>
	</div>
	{% endif %}
	<div class="container">
		<div class="row p-0">
			<div class="col-md-4 col-6">
				<a href="/">{%if info.logo %}<img src="{{info.logo}}" class="img-fluid">{% else%} {{info.companyname}} {%endif%}</a>
			</div>
			<div class="col-md-8 col-6 text-right social m-auto">
				{% include 'partials/social.html' %}				
			</div>
		</div>
	</div>
</div>
