{% set col = 4 %} <!-- Default col set to 6. Could change to 4-->
{% if 12 % section.blocks | length == 0 %}
    {% set col = (12 / section.blocks | length)|int %}
{%endif%}

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			{% if section.title %}<h2>{{section.title}}</h2>{%endif%}
			{% if section.text %}<pre>{{section.text}}</pre>{%endif%}
			{% if section.linkurl %}<a href="{{section.linkurl}}" class="btn btn-outline-primary">{{section.linktext}}</a> {%endif%}
		</div>
		{% for block in section.blocks %}
			<div class="col-sm-{{col}} text-center">
				{%if block.title %}<h3>{{block.title}}</h3>{%endif%}
				{%if block.imgurl %}<img src="{{block.imgurl}}" class="img-fluid">{%endif%}
				{%if block.text %}<pre>{{block.text}}</pre>{%endif%}
				{% if block.linkurl %}
				<a href="{{section.linkurl}}" class="btn btn-outline-primary">{{block.linktext}}</a>
				{%endif%}
			</div>	
		{% endfor %}
	</div>
</div>