<div class="jumbotron rounded-0">
	<div class="container">
		<h2>{{section.title}}</h2>
		<pre>{{section.text}}</pre>
		{% if section.linkurl %}<a href="{{section.linkurl}}" class="btn btn-outline-primary">{{section.linktext}}</a> {%endif%}
	</div>
</div>
{% if section.imgurl %}
	<style type="text/css">.jumbotron{background-image: url("{{section.imgurl}}");}</style>
{% endif %}