{% set address = info.address.split(",")%}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 p-0">
			<div id="map" style="width: 100%; height: 400px;"></div>
		</div>
		<div class="col-md-6">
			{% if section.title%}<h2>{{section.title}}</h2>{% endif %}
			<img src="{{info.logo}}" class="img-fluid">
			<p>{% for part in address%}{{part}}<br />{% endfor %}</p>
			<p>
				<a href="https://maps.google.com/maps?daddr={{info.address}}" target="_blank"><i class="fa fa-map-marker"></i> Directions</a><br />
				{% if info.phone %}<a href="tel:+{{info.phone}}"><i class="fa fa-phone"></i> +{{info.phone}}</a><br />{%endif%}
				{% if info.mobile %}<a href="tel:+{{info.mobile}}"><i class="fa fa-mobile"></i> +{{info.mobile}}</a><br />{%endif%}
				{% if info.email %}<a href="mailto:{{info.email}}"><i class="fa fa-envelope"></i> {{info.email}}</a>{%endif%}
			</p>
			<p>{% include 'partials/social.html' %}</p>
		</div>
	</div>
</div>
{% include 'partials/mapbox.html' %}