{% include theme('partials/header.html') %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
    	{% for link in nav %}
    		<li class="nav-item {% if link.menu %}dropdown {% endif %}">
    			<a class="nav-link {% if link.menu %}dropdown-toggle{% endif %}" href="{{link.url}}" {%if link.menu%}data-target="#" data-toggle="dropdown"{%endif%}>{{link.label}}</a>
          {% if link.menu %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for sub in link.menu %}
                <a class="dropdown-item" href="{{sub.url}}">{{sub.label}}</a>
              {% endfor %}
            </div>
          {% endif %}
        </li>
    	{% endfor%}
    	</ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", event => {
    $('.dropdown-toggle').dropdown()
  });
</script>