<div class="container">
  <div class="row">
    {% if section.blocks %}
    <div class="col-md-6">
      <div id="{{section.title | replace(" ","-") }}" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          {% for block in section.blocks %}
            {% if section.imgurl %}
              {% if  loop.index0 == 0 %}
                <li data-target="#{{section.title | replace(" ","-") }}" data-slide-to="0" class="active"></li>
                <li data-target="#{{section.title | replace(" ","-") }}" data-slide-to="{{loop.index }}"></li>
              {% else %}
                <li data-target="#{{section.title | replace(" ","-") }}" data-slide-to="{{loop.index }}"></li>
              {% endif %}
            {%else%}
              <li data-target="#{{section.title | replace(" ","-") }}" data-slide-to="{{loop.index0 }}" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
            {% endif %}
          {% endfor %}
        </ul>

        <div class="carousel-inner">
          {% for block in section.blocks %}
            {% if section.imgurl %}
              {% if  loop.index0 == 0 %}
                <div class="carousel-item active">
                  <img class="d-block w-100" src="{{section.imgurl}}" alt="{{section.title}}">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{{block.imgurl}}" alt="{{block.title}}">
                </div>
              {% else %}
                <div class="carousel-item">
                  <img class="d-block w-100" src="{{block.imgurl}}" alt="{{block.title}}">
                </div>
              {% endif %}
            {% else %}
              <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                <img class="d-block w-100" src="{{block.imgurl}}" alt="{{block.title}}">
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#{{section.title | replace(" ","-") }}" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#{{section.title | replace(" ","-") }}" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    {% else %}
      <div class="col-md-6">
        <img src={{section.imgurl}} class="img-fluid">
      </div>
    {% endif %}
    <div class="col-md-6">
      <h1>{{section.title}}</h1>
      <pre>{{section.text}}</pre>
    </div>
  </div>
</div>
