{% set breakpoint = (section.blocks | length / 2) | round (0, 'ceil')| int %} 
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			{% if section.title %}<h2>{{section.title}}</h2>{%endif%}
			{% if section.text %}<pre>{{section.text}}-----</pre>{%endif%}
			{% if section.linkurl %}<a href="{{section.linkurl}}" class="btn btn-outline-primary">{{section.linktext}}</a> {%endif%}
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-md-4">
		{% for block in section.blocks %}
			{% if loop.index <= breakpoint %}
				<div class="mb-40 text-center text-md-left">
					{%if block.imgurl %}<img src="{{block.imgurl}}" class="d-inlin-block h2 mb-10 img-thumb">{% endif %}
					{%if block.title %}<h4 class="font-weight-bold mb-2">{{block.title}}</h4>{% endif %}
					{%if block.text %}<pre>{{block.text}}</pre>{% endif %}
					{%if block.linkurl %}<a href="{{block.linkurl}}" class="btn btn-outline-primary">{{block.linktext}}</a>{% endif %}
				</div>
			{% endif %}
			{% if loop.index == breakpoint %}
				</div>
				<div class="col-md-4">
					<img src="{{section.imgurl}}" class="img-fluid">
				</div>
				<div class="col-md-4">
			{% endif %}
			{% if loop.index > breakpoint %}
				<div class="mb-40 text-center text-md-left">
					{%if block.imgurl %}<img src="{{block.imgurl}}" class="d-inlin-block h2 mb-10 img-thumb">{% endif %}
					{%if block.title %}<h4 class="font-weight-bold mb-2">{{block.title}}</h4>{% endif %}
					{%if block.text %}<pre>{{block.text}}</pre>{% endif %}
					{%if block.linkurl %}<a href="{{block.linkurl}}" class="btn btn-outline-primary">{{block.linktext}}</a>{% endif %}
				</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>