<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			{% if section.title %}<h2>{{section.title}}</h2>{%endif%}
			{% if section.text %}<pre>{{section.text | safe }}</pre>{%endif%}
			{% if section.linkurl %}<a href="{{section.linkurl}}" class="btn btn-outline-primary">{{section.linktext}}</a> {%endif%}
		</div>
	</div>
</div>