<div class="container">
	<div class="row align-items-center">
		<div class="col-md-6">
			<h2>{{section.title}}</h2>
			<pre>{{section.text}}</pre>
			{% if section.linkurl %}
			<a href="{{section.linkurl}}" class="btn btn-outline-primary">{{section.linktext}}</a>
			{%endif%}
		</div>
		<div class="col-md-6">
			<img src="{%if section.imgurl %}{{section.imgurl}}{%else%}https://via.placeholder.com/600x400.png?text=Missing+imgurl{%endif%}" class="img-fluid">
		</div>
	</div>
</div>