{% extends theme('layout.html', false) %}

{% block title %}
{{content.title}}
{% endblock %}

{% block favicon %}
{{info.favicon}}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Page not found</h1>
			<p>Sorry, we were unable to find the page you were looking for</p>
			<p><a href="/" class="btn btn-primary">Home</a></p>
		</div>
	</div>
</div>
{# include theme('partials/searchBar.html', false) #}
<p></p>
{% endblock %}