<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{%block description%}{%endblock%}">
    <META NAME="ROBOTS" CONTENT="INDEX">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet"> 
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <link rel="stylesheet" href="{{ theme_static('css/default.css') }}">
    {% if css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/' + css ) }}">{%endif%}

    <link rel="icon" type="image/x-icon" href="{% block favicon%}{% endblock %}" />
    <title>{% block title %}{% endblock %} </title>
    {% block seoBasic %}{% endblock %}
    {% block seoFacebook %}{% endblock %}
    {% block seoTwitter %}{% endblock %}
    {# include 'seoHeader.html' #}
  </head>
  <body class="{%block bodyclass%}{%endblock%}">
    <div id="content">
      {% include theme('partials/nav.html', false) %}
      {%block navbar%}{% endblock%}
      {% block content %}{% endblock %}
    </div>
    <footer>
      {% block footer %}
      {% include theme('partials/footer.html', false) %}
      {% endblock %}
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    {% if info.googleTrackingID %}{% include 'partials/googleAnalytics.html' %}{% endif %}
    {% if info.mapboxapi %}
    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    {% endif %}
    {% if config.SHOPIFY_STOREFRONT %}
      {% include 'shopifyCart.html'%}
    {% endif %}
  </body>
</html>
