{% extends theme('layout.html', false) %}
{%block description%}{{content.og.description}}{%endblock%}
{% block title %}
{% if content.title %}{{content.title}}{% else %}{{info.title}}{% endif %}
{% endblock %}

{% block favicon %}{{info.favicon}}{% endblock %}
{% block bodyclass %}product{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-6">
				<h2>{{data.title}}</h2>
				{{data.body_html | safe }}
				<div class="py-2"><a href="/pages/contact-us" class="btn btn-primary"><i class="fa fa-envelope"></i> Get a Quote</a></div>
				<div class="py-2"><a href="/pages/contact-us" class="btn btn-primary"><i class="fa fa-phone"></i> Call for Quote</a></div>
				<div class="py-2"><a href="/pages/contact-us" class="btn btn-primary"><i class="fa fa-comments"></i> SMS for Quote</a></div>
				<div class="py-2"><a href="/pages/contact-us" class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook for Quote</a></div>	
			</div>
		</div>
	</div>


	{% for section in content.settings %}
		{% include theme('partials/%s.html' % section.type , false) ignore missing %}
	{% endfor%}
{% endblock %}