{% extends theme('layout.html', false) %}
{% set template = self._TemplateReference__context.name | lower %}
{%block description%}{{content.og.description}}{%endblock%}
{% block title %}
{{content.title}}
{% endblock %}


{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="{{product.images[0].src}}" class="img-fluid">
			</div>
			<div class="col-md-6">
				<h2>{{product.title}}</h2>
				{{product.body_html | safe }}
				<div class="py-2"><a href="/pages/contact-us" class="btn btn-primary"><i class="fa fa-envelope"></i> Get a Quote</a></div>
				<div class="py-2"><a href="/pages/contact-us" class="btn btn-primary"><i class="fa fa-phone"></i> Call for Quote</a></div>
				<div class="py-2"><a href="/pages/contact-us" class="btn btn-primary"><i class="fa fa-comments"></i> SMS for Quote</a></div>
				<div class="py-2"><a href="/pages/contact-us" class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook for Quote</a></div>
				<div class="py-2" id="shopifyproduct"></div>	
			</div>
		</div>
	</div>

{% endblock %}
